# python
__pycache__
*.py[co]
*$py.class
.python-version
ENV/

# editor
.idea/
.vscode/

# Test data
*.log
log/
docker_data/
mysql/
staticroot/
jobdata/
data/
celerybeat-schedule
*/.DS_Store
dump.rdb
scripts/*
django_metrics/
nohup.out
main-master.pid

# Codedog Config
codedog/settings/local.py
codedog/settings/dev.py
codedog/settings/test.py
codedog/settings/prod.py
