.rule-info {

  padding: 10px;

  span {
    word-wrap: break-word;
  }
  
  .row {
    display: flex;
    margin-bottom: 20px;

    .col {
      flex: 0 0 114px;
      color: #8592a5;
    }

    .desc {
      width: 334px;
      word-wrap: break-word;
      white-space: pre-wrap;
    }
  }
}
  