@import "@tencent/micro-frontend-shared/style/color.scss";
.form-content {
  max-width: 540px;
  .item {
    margin-bottom: 20px;
    .value {
      color: $grey-7;
    }
  }
}

.header {
  margin-bottom: 20px;
}

.confirm-note {
  font-size: 12px;
  color: $grey-6;
  margin-top: 10px;
}

.user-tag {
  margin: 0px 8px;
}
