# Python
.__pycache__
__pycache__


# MacOS
.DS_Store


# PyCharm IDEA
.idea


# VSCode
.vscode


# SVN
.svn


# Cython
*.pyx
*.c
*.pyd
*.so


# Other
.docker_data
.docker_temp
docker-compose.yml.bak
client/data/taskdirs/*
**/*.log
data/
*.out
