@import "@tencent/micro-frontend-shared/style/color.scss";

.right-zone {
  display: inline-flex;
  align-items: center;
  white-space: initial;
  height: 100%;
}

.user {
  display: flex;
  padding: 0 12px;
  margin-right: 8px;
  height: 48px;
  align-items: center;
  cursor: pointer;

  .avatar {
    vertical-align: middle;
    cursor: pointer;
    height: 30px;
    width: 30px;
  }

  .angle {
    margin-left: 4px;
    width: 16px;
    height: 16px;
    background: center no-repeat url("~@src/images/direction-right.svg");
    transform: rotate(90deg);
  }

  &:hover {
    background: #f5f7fa;
  }
}

.user-info {
  display: flex;
  align-items: center;
  height: 66px;
  padding: 12px 16px;
  cursor: default;

  .user-avatar {
    width: 36px;
    height: 36px;
  }

  .info-content {
    margin-left: 12px;

    .user-name {
      color: #202d40;
      font-size: 15px;
      line-height: 20px;
      width: 160px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .email {
      color: #8592a6;
      font-size: 12px;
      line-height: 16px;
      width: 160px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.logout {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 0px;
    width: 16px;
    height: 16px;
    background: center no-repeat url("~@src/images/logout.svg");
    opacity: 0.3;
  }
}

.language-popover,
.org-popover {
  .cur-language {
    color: #adbacc;
    position: absolute;
    right: 16px;
  }

  .cur-org {
    display: inline-block;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 20px;
    vertical-align: middle;
  }

  .popover-body {
    max-height: 250px;
    overflow-y: auto;
  }

  .title {
    color: $grey-6;
    width: 240px;
    font-size: 12px;
    line-height: 16px;
    padding: 8px 14px;
  }

  .item {
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    padding: 0 14px;
    &:hover {
      background-color: #f2f4f6;
    }
  }
  :global {
    .ant-popover-inner {
      padding: 0;
    }
  }
}

.org-popover {
  border-top: 1px solid $grey-1;
  border-bottom: 1px solid $grey-1;
}

.org-text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
}
