@import "@tencent/micro-frontend-shared/style/color.scss";

.code-metrics {
  width: 700px;
  padding: 30px 0 !important;

  .title {
    font-size: 16px;
    font-weight: 600;
    color: $grey-8;
  }

  .interval-wrapper {
    :global(.ant-form-item-control-input-content) {
      display: flex;
      align-items: center;
    }
  }

  .interval {
    display: inline-block;
    width: 130px;
    margin-bottom: 0;

    :global(.ant-input-number) {
      width: 130px;
    }
  }

  .split-line {
    display: inline-block;
    width: 20px;
    margin-right: 10px;
    border-top: 1px solid #919daf;
  }
}
