@import '@tencent/micro-frontend-shared/style/color.scss';

.path-filter {
  background: #ffffff !important;
  max-width: 900px;
  margin-top: 12px !important;

  .panel {
    border-radius: 2px;
    margin-bottom: 12px;
    border: 1px solid #e6e9ed;
    overflow: hidden;
  }
}
