@import '@tencent/micro-frontend-shared/style/color.scss';

.path-filter {
    background: #ffffff !important;
    max-width: 900px;
    margin-top: 12px !important;

    .panel {
        border-radius: 2px;
        margin-bottom: 12px;
        border: 1px solid #e6e9ed;
        overflow: hidden;

        :global(.ant-collapse-header) {
            color: $grey-8;
            font-weight: 600;

            &:hover {
                background-color: #f5f7fa;
            }
        }

        :global(.ant-collapse-content > .ant-collapse-content-box) {
            padding-top: 20px !important;
        }

        :global(.ant-pagination) {
            width: 100%;
        }

        .operation {
            position: relative;
            display: flex;
            align-items: center;
            font-weight: normal;

            a {
                margin-right: 10px;
            }

            .menu {
                width: 158px;
                padding: 0;
                background: #ffffff;
                border: 1px solid rgb(218, 223, 230);
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
                border-radius: 2px;
                z-index: 1;

                li {
                    font-size: 14px;
                    font-weight: normal;
                    color: $grey-8;
                    list-style: none;
                    padding: 8px 0 8px 21px;
                    cursor: pointer;

                    &:hover {
                        background-color: $grey-1;
                    }

                    &.del-all {
                        color: #f01c20;
                    }
                    &:first-child {
                        & > div {
                            width: unset !important;
                            height: unset !important;
                            border: none !important;
                        }
                    }
                }
                .import-tooltip {
                    max-width: 450px;
                }
            }
        }
    }
}

.collapse {
    :global(.ant-tooltip-inner) {
        white-space: break-spaces;
    }

    &.filter {
        .content {
            :global(.ant-table-thead) {
                tr > th {
                    color: #919daf;
                }
            }
            :global(.ant-pagination) {
                width: 100%;
                li:first-child {
                    float: left;
                }
            }
        }
    }
}

.import-modal {
    &:global(.cuk-modal) {
        width: 520px;
    }

    .path-content {
        height: 308px;
        overflow: auto;
        padding: 0;
        background-color: #f5f7fa;

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 24px 0 12px;
            height: 44px;
            border-bottom: 1px solid #e6e9ed;

            span {
                &:first-child {
                    flex: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
    
                &:nth-child(2) {
                    width: 80px;
                    margin: 10px;
                }
            }   
        }
    }
}

.add-path-modal {
    padding: 30px;
    .title {
        font-size: 20px;
    }
    .label {
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 8px;
        &.desc {
            color: #919daf;
        }
        .required-icon {
            color: #ff0000;
        }
    }
    .pop-style {
        :global(.ant-tooltip-inner) {
            width: 368px;
        }
    }

    .form {

        :global(.ant-radio-wrapper) {
            margin-right: 30px;
        }

    }
}

.desc-tooltip {
    max-width: 370px;

    .example {
        margin-left: 16px;
    }
}

.dir-path {
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-all;
}
  