@import '@tencent/micro-frontend-shared/style/color.scss';

.left-container {
    width: 300px;
    border-right: 1px solid #eceff2;
    height: 100%;

    .header {
        padding: 20px;
        border-bottom: 1px solid #eceff2;
        overflow: hidden;

        .icon {
            margin-left: 8px;
            color: $grey-6;
        }

        .icon:hover {
            margin-left: 8px;
            color: $grey-8;
        }
    }

    .content {
        padding-bottom: 20px;
        height: calc(100% - 125px);
        height: -webkit-calc(100% - 125px);
        height: -moz-calc(100% - 125px);
        overflow-y: auto;

        .list-item {
            cursor: pointer;
            padding: 14px 18px 0 20px;
            border-right: 2px solid transparent;

            &:hover,
            &.active {
                border-right-color: $blue-5;
                background-color: #f2f4f6;
            }

            .item-body {
                padding-bottom: 14px;
                border-bottom: 1px solid #eceff2;

                .partner-icon {
                    color: $green-5;
                    margin-left: 10px;
                }
            }
        }
    }
}

.icon-plus-button {
    float: right;
    text-align: center;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background: rgb(0, 102, 255);
    // box-shadow: rgba(19, 111, 220, 0.1) 0 6px 9px 0, rgba(31, 32, 32, 0.1) 0 4px 18px 0;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;

    &:hover {
        background: rgb(1, 81, 202);
    }

    .icon-plus {
        color: #fff;
        margin-top: 7px;
    }
}

.right-container {
    width: calc(100% - 300px);
    width: -webkit-calc(100% - 300px);
    width: -moz-calc(100% - 300px);
    padding: 30px;
    height: 100%;
}

.member-item {
    margin-bottom: 30px;

    .tit {
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: 500;
    }

    .group {
        padding: 8px 16px;
        background: $grey-1;
        border-radius: 2px;
    }
}