# Login Server Requirements
# server deploy
gunicorn==20.1.0

# for django
Django==3.1.14

# for django using mysql server
pymysql==1.0.2

# for rest api
djangorestframework==3.11.2

# for login
djangorestframework-simplejwt==5.1.0
PyJWT==2.4.0

# for password
pyaes==1.6.1
pycryptodome==3.9.8
cryptography===39.0.1

# for exception log
sentry-sdk==0.10.2
