@import "@src/common/style/color.scss";

.header {
  padding: 0 24px;
  border-bottom: 1px solid $grey-3;
  :global(.ant-tabs-nav::before) {
    border: none;
  }
}

.batch-operation {
  padding-top: 8px;
}

.optional-mark {
  font-size: 12px;
}

.org-option {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .active-org {
    color: $green-6;
    border: 1px solid $green-6;
    background-color: #fff;
    border-radius: 2px;
  }
  
  .inactive-org {
    color: $red-6;
    border: 1px solid $red-6;
    background-color: #fff;
    border-radius: 2px;
  }
}
