// 色板变量 - td 色板
$tca-blue-1: #f2f3ff;
$tca-blue-2: #d9e1ff;
$tca-blue-3: #b5c7ff;
$tca-blue-4: #8eabff;
$tca-blue-5: #618dff;
$tca-blue-6: #366ef4;
$tca-blue-7: #0052d9;
$tca-blue-8: #003cab;
$tca-blue-9: #002a7c;
$tca-blue-10: #001a57;

$tca-orange-1: #fff1e9;
$tca-orange-2: #ffd9c2;
$tca-orange-3: #ffb98c;
$tca-orange-4: #fa9550;
$tca-orange-5: #e37318;
$tca-orange-6: #be5a00;
$tca-orange-7: #954500;
$tca-orange-8: #713300;
$tca-orange-9: #532300;
$tca-orange-10: #3b1700;

$tca-red-1: #fff0ed;
$tca-red-2: #ffd8d2;
$tca-red-3: #ffb9b0;
$tca-red-4: #ff9285;
$tca-red-5: #f6685d;
$tca-red-6: #d54941;
$tca-red-7: #ad352f;
$tca-red-8: #881f1c;
$tca-red-9: #68070a;
$tca-red-10: #490002;

$tca-green-1: #e3f9e9;
$tca-green-2: #c6f3d7;
$tca-green-3: #92dab2;
$tca-green-4: #56c08d;
$tca-green-5: #2ba471;
$tca-green-6: #008858;
$tca-green-7: #006c45;
$tca-green-8: #005334;
$tca-green-9: #003b23;
$tca-green-10: #002515;

$tca-blue-dark-1: #1b2f51;
$tca-blue-dark-2: #173463;
$tca-blue-dark-3: #143975;
$tca-blue-dark-4: #103d88;
$tca-blue-dark-5: #0d429a;
$tca-blue-dark-6: #054bbe;
$tca-blue-dark-7: #2667d4;
$tca-blue-dark-8: #4582e6;
$tca-blue-dark-9: #699ef5;
$tca-blue-dark-10: #96bbf8;

$tca-orange-dark-1: #4f2a1d;
$tca-orange-dark-2: #582f21;
$tca-orange-dark-3: #733c23;
$tca-orange-dark-4: #a75d2b;
$tca-orange-dark-5: #cf6e2d;
$tca-orange-dark-6: #dc7633;
$tca-orange-dark-7: #e8935c;
$tca-orange-dark-8: #ecbf91;
$tca-orange-dark-9: #eed7bf;
$tca-orange-dark-10: #f3e9dc;

$tca-red-dark-1: #472324;
$tca-red-dark-2: #5e2a2d;
$tca-red-dark-3: #703439;
$tca-red-dark-4: #83383e;
$tca-red-dark-5: #a03f46;
$tca-red-dark-6: #c64751;
$tca-red-dark-7: #de6670;
$tca-red-dark-8: #ec888e;
$tca-red-dark-9: #edb1b6;
$tca-red-dark-10: #eeced0;

$tca-green-dark-1: #193a2a;
$tca-green-dark-2: #1a4230;
$tca-green-dark-3: #17533d;
$tca-green-dark-4: #0d7a55;
$tca-green-dark-5: #059465;
$tca-green-dark-6: #43af8a;
$tca-green-dark-7: #46bf96;
$tca-green-dark-8: #80d2b6;
$tca-green-dark-9: #b4e1d3;
$tca-green-dark-10: #deede8;

$tca-gray-1: #f3f3f3;
$tca-gray-2: #eee;
$tca-gray-3: #e8e8e8;
$tca-gray-4: #ddd;
$tca-gray-5: #c6c6c6;
$tca-gray-6: #a6a6a6;
$tca-gray-7: #8b8b8b;
$tca-gray-8: #777;
$tca-gray-9: #5e5e5e;
$tca-gray-10: #4b4b4b;
$tca-gray-11: #393939;
$tca-gray-12: #2c2c2c;
$tca-gray-13: #242424;
$tca-gray-14: #181818;

$tca-cyan-1: #e8f5ff;
$tca-cyan-2: #c4e8ff;
$tca-cyan-3: #85d3ff;
$tca-cyan-4: #41b8f2;
$tca-cyan-5: #029cd4;
$tca-cyan-6: #0080b0;
$tca-cyan-7: #00668e;
$tca-cyan-8: #004e6d;
$tca-cyan-9: #003850;
$tca-cyan-10: #002536;

$tca-purple-1: #fbf0ff;
$tca-purple-2: #eedcff;
$tca-purple-3: #dcbfff;
$tca-purple-4: #c69cff;
$tca-purple-5: #ad75fe;
$tca-purple-6: #8e56dd;
$tca-purple-7: #7137bf;
$tca-purple-8: #5610a4;
$tca-purple-9: #3b007b;
$tca-purple-10: #280057;

$tca-yellow-1: #fff5e4;
$tca-yellow-2: #fff5e4;
$tca-yellow-3: #ffe7b5;
$tca-yellow-4: #f5ba18;
$tca-yellow-5: #d8a100;
$tca-yellow-6: #b38500;
$tca-yellow-7: #8b6600;
$tca-yellow-8: #654900;
$tca-yellow-9: #443000;
$tca-yellow-10: #2b1d00;

$tca-pink-1: #fff0f6;
$tca-pink-2: #ffd8eb;
$tca-pink-3: #ffaedc;
$tca-pink-4: #ff79cd;
$tca-pink-5: #e851b3;
$tca-pink-6: #c43695;
$tca-pink-7: #a12279;
$tca-pink-8: #800a5f;
$tca-pink-9: #610046;
$tca-pink-10: #43002f;

// 旧色板
$t-grey-1: #f5f7fa;
$t-grey-2: #e6e9ed;
$t-grey-3: #dadfe6;
$t-grey-4: #c5cedb;
$t-grey-5: #adbacc;
$t-grey-6: #8592a6;
$t-grey-7: #606c80;
$t-grey-8: #202d40;
$t-grey-9: #171d26;

$t-blue-1: #e6f7ff;
$t-blue-2: #cceaff;
$t-blue-3: #8cc6ff;
$t-blue-4: #3d98ff;
$t-blue-5: #06f;
$t-blue-6: #0052cc;
$t-blue-7: #0f4799;
$t-blue-8: #1d4073;

$t-red-1: #fff0f0;
$t-red-2: #fed2d2;
$t-red-3: #fc9c9c;
$t-red-4: #f76469;
$t-red-5: #eb333f;
$t-red-6: #ca1628;
$t-red-7: #9a1325;
$t-red-8: #791122;

$t-orange-1: #fff4e0;
$t-orange-2: #ffe0b3;
$t-orange-3: #fec57c;
$t-orange-4: #fba337;
$t-orange-5: #f0850a;
$t-orange-6: #cb6b0b;
$t-orange-7: #9e540a;
$t-orange-8: #7b4209;

$t-yellow-1: #fffbe5;
$t-yellow-2: #fff4c2;
$t-yellow-3: #fde586;
$t-yellow-4: #fbd341;
$t-yellow-5: #edb807;
$t-yellow-6: #ce9c09;
$t-yellow-7: #a07708;
$t-yellow-8: #725409;

$t-green-1: #f2ffe0;
$t-green-2: #dbfdb5;
$t-green-3: #adf269;
$t-green-4: #7ad93a;
$t-green-5: #4fbe0e;
$t-green-6: #3ea00e;
$t-green-7: #2e7d0c;
$t-green-8: #205c0a;

$t-cyan-1: #e5feff;
$t-cyan-2: #c4fafd;
$t-cyan-3: #8ef3fa;
$t-cyan-4: #3de6f5;
$t-cyan-5: #0ccadf;
$t-cyan-6: #0ba4bc;
$t-cyan-7: #097c90;
$t-cyan-8: #096072;

$t-purple-1: #f4e5ff;
$t-purple-2: #dbb5fd;
$t-purple-3: #c28bf9;
$t-purple-4: #a657f4;
$t-purple-5: #892aef;
$t-purple-6: #6812ca;
$t-purple-7: #4b109e;
$t-purple-8: #380d77;

$tca-black: #000000;
$tca-white: #ffffff;

$tca-fatal-bg: rgba(
  $color: $t-red-5,
  $alpha: 0.1,
);

$tca-error-bg: rgba(
  $color: $t-red-8,
  $alpha: 0.07,
);

$tca-warging-bg: rgba(
  $color: $t-yellow-7,
  $alpha: 0.08,
);

$tca-success-bg: rgba(
  $color: $t-green-8,
  $alpha: 0.08,
);

$tca-tip-bg: rgba(
  $color: $t-blue-7,
  $alpha: 0.08,
);

$tca-fatal-color: $t-red-5;
$tca-error-color: $t-red-8;
$tca-warging-color: $t-yellow-7;
$tca-success-color: $t-green-7;
$tca-tip-color: $t-blue-7;