@import "@tencent/micro-frontend-shared/style/color.scss";

.base-config {
  width: 670px;
  padding: 30px 0 !important;

  .tooltip {
    svg {
      color: $grey-6;
      margin-left: 10px;
      transition: color 0.3s;
      cursor: pointer;

      &:hover {
        color: $grey-8;
      }
    }
  }

  .radio {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding-right: 10px;
  }
}

.base-modal {
  .title {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
  }
}
