.search {
  padding: 1px 24px;
  // background-color: #fcfcfa;
  background-color: hsla(0, 0%, 98.8%, 0.98);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1), 0 0.5px 0 0 rgba(0, 0, 0, 0.08);

  .search-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // height: $filter-height;
  // padding: 0 30px;
  // background-color: hsla(0, 0%, 98.8%, 0.98);
  // box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1), 0 0.5px 0 0 rgba(0, 0, 0, 0.08);

  .search-content {
    margin: 5px 0;

    :global(.ant-picker) {
      padding: 3px 10px 3px;
    }
  }
}
