@import "@tencent/micro-frontend-shared/style/color.scss";

$zindex-navbar: 1000 !default;
$height: 48px;
$logo-width: 30px;
$logo-mr: 10px;
$signed-in-logo-width: 30px;
$not-signed-in-logo-width: 168px;
$logo-margin: 20px;
$search-input-min-width: 120px;
$logo-margin-right: 10px;
$enterprise-logo-margin-right: 10px;
$search-input-left: 12px;

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: $height;
  font-size: 14px;
  line-height: 1;
  box-shadow: 0 1px $grey-3;
  background: $white;
  z-index: $zindex-navbar;
}

.left-wrap {
  display: flex;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  margin-left: 20px;
}

.logo {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: $logo-width;
  height: $height;
  line-height: $height;
  text-align: center;
  margin-right: $logo-mr;

  img {
    width: $logo-width;
    height: $logo-width;
    overflow: hidden;
    // border: 1px solid $grey-3;
    border-radius: 2px;
    opacity: 1;
    transition: opacity 0.25s ease;
    box-sizing: content-box;
    position: absolute;
  }

  .hidden {
    opacity: 0;
  }
}

.logo-angle-right {
  margin-left: 4px;
  margin-right: 10px;
  color: $grey-3 !important;
}

.enterprise-name {
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  max-width: 280px;
}

.right-wrap {
  position: relative;
  height: $height;
  margin-left: auto;
  white-space: nowrap;
}
