@import "@tencent/micro-frontend-shared/style/color.scss";

.repos-container {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 30px;
  border-bottom: 1px solid #dadfe6;

  .git-mark {
    display: inline-block;
    color: #f05133;
    font-size: 16px;
    margin: auto;
    margin-right: 8px;
  }

  .repo-url-container {
    display: flex;
    align-items: center;

    .cur-repo {
      display: flex;
      align-items: center;
      padding: 6px;
      border: 2px;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        background-color: $grey-1;
      }

      .repo-url {
        font-size: 16px;
        font-weight: 600;
      }

      .copy-icon {
        vertical-align: middle;
      }

      .icon {
        margin-top: 2px;
        margin-left: 5px;
        color: $grey-7;
      }
    }

    .icon-tip-color {
      color: $grey-7;
    }

    .repo-link {
      color: $grey-7;
      margin-left: 10px;

      &:hover {
        color: $blue-5;
      }
    }
  }
}
