:global {
  @import "@src/common/style/index.scss";
  @import "@src/common/style/uikit.scss";
  @media only screen and (min-width: 1080px) {
    html,
    body,
    #container {
      min-width: 1080px;
      overflow: auto;
    }
    button,
    p {
      padding: 0;
      margin: 0;
    }

    .a-no-style,
    .a-no-style:link,
    .a-no-style:visited,
    .a-no-style:hover,
    .a-no-style:active {
      text-decoration: none !important;
      color: inherit !important;
    }
  }
}
