@import '@tencent/micro-frontend-shared/style/color.scss';

.tmpl-tag {
  color: $cyan-6;
  border: 1px solid $cyan-6;
  background-color: #fff;
  border-radius: 2px;

  &.sys {
    color: $grey-7;
    border: 1px solid $grey-7;
  }
}

.content-wrapper {
  height: calc(100vh - 160px);
  padding: 24px;
  overflow: auto;
}

.container {
  height: calc(100% - 56px);
  padding: 30px;
  white-space: nowrap;
}

.question-icon {
  color: #919daf;
  font-size: 16px;
  margin-top: -2px;
  margin-left: 2px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    color: $grey-8;
  }
}

.loading {
  text-align: center;
  padding: 30px 0px;
}

.tmpl-title {
  display: flex;
  align-items: center;
  
  > span {
    margin-left: 8px;
  }
}