@import "@tencent/micro-frontend-shared/style/color.scss";

$zindex-navbar: 1000 !default;
$height: 48px;

.layout-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  height: $height;
  box-shadow: 0 1px $grey-3;
  background: $white;
  z-index: $zindex-navbar;

  .left-content {
    margin-left: 20px;
  }
}