.delete-modal {

  .warning-message {
    margin-bottom: 20px;
  }

  .confirm-message {
    margin-bottom: 8px;
    font-weight: 600;
  }

  .confirm-text {
    background-color: #ebedf1;
    font-weight: 500;
    padding: 0 6px;
  }

  .confirm-input {
    margin-bottom: 0px;
  }
}
