$grey-1: #f5f7fa;
$grey-2: #e6e9ed;
$grey-3: #dadfe6;
$grey-4: #c5cedb;
$grey-5: #adbacc;
$grey-6: #8592a6;
$grey-7: #606c80;
$grey-8: #202d40;
$grey-9: #171d26;

$blue-1: #e6f7ff;
$blue-2: #cceaff;
$blue-3: #8cc6ff;
$blue-4: #3d98ff;
$blue-5: #06f;
$blue-6: #0052cc;
$blue-7: #0f4799;
$blue-8: #1d4073;

$red-1: #fff0f0;
$red-2: #fed2d2;
$red-3: #fc9c9c;
$red-4: #f76469;
$red-5: #eb333f;
$red-6: #ca1628;
$red-7: #9a1325;
$red-8: #791122;

$orange-1: #fff4e0;
$orange-2: #ffe0b3;
$orange-3: #fec57c;
$orange-4: #fba337;
$orange-5: #f0850a;
$orange-6: #cb6b0b;
$orange-7: #9e540a;
$orange-8: #7b4209;

$yellow-1: #fffbe5;
$yellow-2: #fff4c2;
$yellow-3: #fde586;
$yellow-4: #fbd341;
$yellow-5: #edb807;
$yellow-6: #ce9c09;
$yellow-7: #a07708;
$yellow-8: #725409;

$green-1: #f2ffe0;
$green-2: #dbfdb5;
$green-3: #adf269;
$green-4: #7ad93a;
$green-5: #4fbe0e;
$green-6: #3ea00e;
$green-7: #2e7d0c;
$green-8: #205c0a;

$cyan-1: #e5feff;
$cyan-2: #c4fafd;
$cyan-3: #8ef3fa;
$cyan-4: #3de6f5;
$cyan-5: #0ccadf;
$cyan-6: #0ba4bc;
$cyan-7: #097c90;
$cyan-8: #096072;

$purple-1: #f4e5ff;
$purple-2: #dbb5fd;
$purple-3: #c28bf9;
$purple-4: #a657f4;
$purple-5: #892aef;
$purple-6: #6812ca;
$purple-7: #4b109e;
$purple-8: #380d77;

$black: #000000;
$white: #ffffff;

$fatal-bg: rgba(
  $color: $red-5,
  $alpha: 0.1,
);
$error-bg: rgba(
  $color: $red-8,
  $alpha: 0.07,
);
$warging-bg: rgba(
  $color: $yellow-7,
  $alpha: 0.08,
);
$success-bg: rgba(
  $color: $green-8,
  $alpha: 0.08,
);
$tip-bg: rgba(
  $color: $blue-7,
  $alpha: 0.08,
);

$fatal-color: $red-5;
$error-color: $red-8;
$warging-color: $yellow-7;
$success-color: $green-7;
$tip-color: $blue-7;
