@import "./color.scss";

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

$space-base: 16px !default;
$space-x-base: $space-base !default;
$space-y-base: $space-base !default;

$space-none: (
  x: 0,
  y: 0,
) !default;
$space-xs: (
  x: (
    $space-x-base * 0.25,
  ),
  y: (
    $space-y-base * 0.25,
  ),
) !default;
$space-sm: (
  x: (
    $space-x-base * 0.5,
  ),
  y: (
    $space-y-base * 0.5,
  ),
) !default;
$space-md: (
  x: $space-x-base,
  y: $space-y-base,
) !default;
$space-lg: (
  x: (
    $space-x-base * 1.5,
  ),
  y: (
    $space-y-base * 1.5,
  ),
) !default;
$space-xl: (
  x: (
    $space-x-base * 3,
  ),
  y: (
    $space-y-base * 3,
  ),
) !default;
$space-12: (
  x: 12px,
  y: 12px,
) !default;
$space-20: (
  x: 20px,
  y: 20px,
) !default;
$space-48: (
  x: 48px,
  y: 48px,
) !default;
$space-6: (
  x: 6px,
  y: 6px,
) !default;

// sorry for long line; we need .sass and it doesn't support multi-line list
$spaces: (
  "none": $space-none,
  "xs": $space-xs,
  "6": $space-6,
  "sm": $space-sm,
  "md": $space-md,
  "lg": $space-lg,
  "xl": $space-xl,
  "12": $space-12,
  "20": $space-20,
  "48": $space-48,
) !default;

@each $space, $value in $spaces {
  .pa-#{$space} {
    padding: map-get($value, "y") map-get($value, "x");
  }

  .pl-#{$space} {
    padding-left: map-get($value, "x");
  }

  .pr-#{$space} {
    padding-right: map-get($value, "x");
  }

  .pt-#{$space} {
    padding-top: map-get($value, "y");
  }

  .pb-#{$space} {
    padding-bottom: map-get($value, "y");
  }

  .px-#{$space} {
    padding-left: map-get($value, "x");
    padding-right: map-get($value, "x");
  }

  .py-#{$space} {
    padding-top: map-get($value, "y");
    padding-bottom: map-get($value, "y");
  }

  .ma-#{$space} {
    margin: map-get($value, "y") map-get($value, "x");
  }

  .ml-#{$space} {
    margin-left: map-get($value, "x");
  }

  .mr-#{$space} {
    margin-right: map-get($value, "x");
  }

  .mt-#{$space} {
    margin-top: map-get($value, "y");
  }

  .mb-#{$space} {
    margin-bottom: map-get($value, "y");
  }

  .mx-#{$space} {
    margin-left: map-get($value, "x");
    margin-right: map-get($value, "x");
  }

  .my-#{$space} {
    margin-top: map-get($value, "y");
    margin-bottom: map-get($value, "y");
  }
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.fit {
  width: 100% !important;
  height: 100% !important;
}

.full-height {
  height: 100% !important;
}

.full-width {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

// visibility
.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-border {
  border: 0 !important;
}

.no-border-radius {
  border-radius: 0 !important;
}

.no-box-shadow {
  box-shadow: none !important;
}

.no-outline {
  outline: 0 !important;
}

.ellipsis {
  text-overflow: ellipsis;

  white-space: nowrap;

  overflow: hidden;

  &-2-lines,
  &-3-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  &-2-lines {
    -webkit-line-clamp: 2;
  }

  &-3-lines {
    -webkit-line-clamp: 3;
  }
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.transparent {
  background: transparent !important;
}

.overflow-auto {
  overflow: auto !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-hidden-y {
  overflow-y: hidden !important;
}

$z-top: 7000 !default;
$z-max: 9998 !default;

.z-top {
  z-index: $z-top !important;
}

.z-max {
  z-index: $z-max !important;
}

// mouse
.non-selectable {
  user-select: none !important;
}

.scroll {
  overflow: auto;
}

.scroll,
.scroll-x,
.scroll-y {
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.scroll-x {
  overflow-x: auto;
}

.scroll-y {
  overflow-y: auto;
}

.no-scroll {
  overflow: hidden !important;
}

.no-pointer-events,
.no-pointer-events--children,
.no-pointer-events--children * {
  pointer-events: none !important;
}

.all-pointer-events {
  pointer-events: all !important;
}

.cursor {
  &-pointer {
    cursor: pointer !important;
  }

  &-not-allowed {
    cursor: not-allowed !important;
  }

  &-inherit {
    cursor: inherit !important;
  }

  &-none {
    cursor: none !important;
  }
}

// position
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.relative-position {
  position: relative;
}

.absolute,
.absolute-full,
.absolute-center,
.absolute-bottom,
.absolute-left,
.absolute-right,
.absolute-top,
.absolute-top-left,
.absolute-top-right,
.absolute-bottom-left,
.absolute-bottom-right {
  position: absolute;
}

.fixed,
.fixed-full,
.fullscreen,
.fixed-center,
.fixed-bottom,
.fixed-left,
.fixed-right,
.fixed-top,
.fixed-top-left,
.fixed-top-right,
.fixed-bottom-left,
.fixed-bottom-right {
  position: fixed;
}

.fixed-center,
.absolute-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-top,
.absolute-top {
  top: 0;
  left: 0;
  right: 0;
}

.fixed-right,
.absolute-right {
  top: 0;
  right: 0;
  bottom: 0;
}

.fixed-bottom,
.absolute-bottom {
  right: 0;
  bottom: 0;
  left: 0;
}

.fixed-left,
.absolute-left {
  top: 0;
  bottom: 0;
  left: 0;
}

.fixed-top-left,
.absolute-top-left {
  top: 0;
  left: 0;
}

.fixed-top-right,
.absolute-top-right {
  top: 0;
  right: 0;
}

.fixed-bottom-left,
.absolute-bottom-left {
  bottom: 0;
  left: 0;
}

.fixed-bottom-right,
.absolute-bottom-right {
  bottom: 0;
  right: 0;
}

.vertical- {
  &top {
    vertical-align: top !important;
  }

  &middle {
    vertical-align: middle !important;
  }

  &bottom {
    vertical-align: bottom !important;
  }
}

.on-left {
  margin-right: 12px;
}

.on-right {
  margin-left: 12px;
}

.text-black {
  color: $black;
}

.text-white {
  color: $white;
}

.bg-white {
  background-color: $white;
}

// grey
.text-grey-9 {
  color: $grey-9;
}
.text-grey-8 {
  color: $grey-8;
}
.text-grey-7 {
  color: $grey-7;
}
.text-grey-6 {
  color: $grey-6;
}
.text-grey-5 {
  color: $grey-5;
}
.text-grey-4 {
  color: $grey-4;
}
.text-grey-3 {
  color: $grey-3;
}
.text-grey-2 {
  color: $grey-2;
}
.text-grey-1 {
  color: $grey-1;
}

// blue
.text-blue-8 {
  color: $blue-8;
}
.text-blue-7 {
  color: $blue-7;
}
.text-blue-6 {
  color: $blue-6;
}
.text-blue-5 {
  color: $blue-5;
}
.text-blue-4 {
  color: $blue-4;
}
.text-blue-3 {
  color: $blue-3;
}
.text-blue-2 {
  color: $blue-2;
}
.text-blue-1 {
  color: $blue-1;
}

// red
.text-red-8 {
  color: $red-8;
}
.text-red-7 {
  color: $red-7;
}
.text-red-6 {
  color: $red-6;
}
.text-red-5 {
  color: $red-5;
}
.text-red-4 {
  color: $red-4;
}
.text-red-3 {
  color: $red-3;
}
.text-red-2 {
  color: $red-2;
}
.text-red-1 {
  color: $red-1;
}

// orange
.text-orange-8 {
  color: $orange-8;
}
.text-orange-7 {
  color: $orange-7;
}
.text-orange-6 {
  color: $orange-6;
}
.text-orange-5 {
  color: $orange-5;
}
.text-orange-4 {
  color: $orange-4;
}
.text-orange-3 {
  color: $orange-3;
}
.text-orange-2 {
  color: $orange-2;
}
.text-orange-1 {
  color: $orange-1;
}

// yellow
.text-yellow-8 {
  color: $yellow-8;
}
.text-yellow-7 {
  color: $yellow-7;
}
.text-yellow-6 {
  color: $yellow-6;
}
.text-yellow-5 {
  color: $yellow-5;
}
.text-yellow-4 {
  color: $yellow-4;
}
.text-yellow-3 {
  color: $yellow-3;
}
.text-yellow-2 {
  color: $yellow-2;
}
.text-yellow-1 {
  color: $yellow-1;
}

// green
.text-green-8 {
  color: $green-8;
}
.text-green-7 {
  color: $green-7;
}
.text-green-6 {
  color: $green-6;
}
.text-green-5 {
  color: $green-5;
}
.text-green-4 {
  color: $green-4;
}
.text-green-3 {
  color: $green-3;
}
.text-green-2 {
  color: $green-2;
}
.text-green-1 {
  color: $green-1;
}

// cyan
.text-cyan-8 {
  color: $cyan-8;
}
.text-cyan-7 {
  color: $cyan-7;
}
.text-cyan-6 {
  color: $cyan-6;
}
.text-cyan-5 {
  color: $cyan-5;
}
.text-cyan-4 {
  color: $cyan-4;
}
.text-cyan-3 {
  color: $cyan-3;
}
.text-cyan-2 {
  color: $cyan-2;
}
.text-cyan-1 {
  color: $cyan-1;
}

// purple
.text-purple-8 {
  color: $purple-8;
}
.text-purple-7 {
  color: $purple-7;
}
.text-purple-6 {
  color: $purple-6;
}
.text-purple-5 {
  color: $purple-5;
}
.text-purple-4 {
  color: $purple-4;
}
.text-purple-3 {
  color: $purple-3;
}
.text-purple-2 {
  color: $purple-2;
}
.text-purple-1 {
  color: $purple-1;
}

$text-weights: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  bolder: 900,
) !default;

@each $weight, $value in $text-weights {
  .text-weight-#{$weight} {
    font-weight: $value;
  }
}
