@import "./theme/color-variables.scss";

:global(.t-progress__info) {
  display: flex;
  align-items: center;
}

:global(.t-table__body) {
  &>tr {
    td>a.link-name {
      color: $t-grey-8;

      &.with-icon {
        display: flex;
        align-items: center;
      }

      .path {
        font-size: 12px;
        color: $t-grey-7;
        max-width: 400px;
        word-break: break-all;
      }
    }
    
    &:hover {
      td>a.link-name {
        color: $t-blue-5 !important;
      }
    }
  }
}

:global(.t-tag) {
  &.warning {
    color: $tca-warging-color;
    background-color: $tca-warging-bg;
  }

  &.success {
    color: $tca-success-color;
    background-color: $tca-success-bg;
  }

  &.fatal {
    color: $tca-fatal-color;
    background-color: $tca-fatal-bg;
  }

  &.error {
    color: $tca-error-color;
    background-color: $tca-error-bg;
  }

  &.processing,
  &.info {
    color: $tca-tip-color;
    background-color: $tca-tip-bg;
  }
}

// 避免notification组件折叠
:global(.t-notification__content){
  display: block;
  max-height: none;
}