$font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", "微软雅黑", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.5;

:global {
  // 全局非模块化 CSS 在这里添加
  @import "./common";
  @import "./uikit.scss";

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: $font-family;
    font-size: $font-size-base;
    line-height: $line-height-base;
    background: getColor(white, normal);
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    margin: 0;
  }

  #container {
    position: relative;
    padding-top: 48px;
    min-width: 1080px;
    height: 100vh;
  }

  .a-no-style,
  .a-no-style:link,
  .a-no-style:visited,
  .a-no-style:hover,
  .a-no-style:active {
    text-decoration: none !important;
    color: inherit !important;
  }
}
