# File Server Requirements
# for server deploy
gunicorn==20.1.0

# for django
Django==3.1.14

# for django using mysql server
pymysql==1.0.2

# for rest api
djangorestframework==3.11.2

# for celery
celery==5.2.3
importlib-metadata==4.13.0
redis==4.1.1

# for exception log
sentry-sdk==0.10.2

# for storage
cos-python-sdk-v5==1.7.4
minio==7.1.0

# for password
pyaes==1.6.1
pycryptodome==3.9.8
cryptography==39.0.1

# for monitor
django-prometheus==2.0.0
