@import "@tencent/micro-frontend-shared/style/color.scss";

.projects {
  :global(.ant-tabs-tab) {
    padding: 16px;

    &:first-child {
      color: $grey-8;
      font-size: 18px;
      font-weight: bold;
      margin-right: 10px;
      cursor: text;

      & > div {
        padding: 0 28px 0 14px;
        border-right: 1px solid $grey-3;

        &:active,
        &:focus {
          color: $grey-8 !important;
        }
      }
    }
  }

  :global(.ant-table-thead > tr:first-child > th) {
    border-top: none;
  }

  :global(.ant-tabs-content) {
    padding: 0 20px;
  }

  .search {
    width: 200px;
    margin-right: 20px;
  }

  .search-bar {
    padding-right: 30px;
  }
}
