:root {
  scroll-behavior: smooth;
  --c-brand: #176DE6;
  --c-brand-light: #257EFA;
  .home .hero .description {
    font-size: 18px;
  }
}

html.dark {
  --c-brand: #257EFA;
  --c-brand-light: #176DE6;
}
