:root {
  scroll-behavior: smooth;
  --c-brand: #176de6;
  --c-brand-light: #257efa;
  .home .hero .description {
    font-size: 18px;
  }
}

html.dark {
  --c-brand: #257efa;
  --c-brand-light: #176de6;
}

.home .hero img {
  max-height: 200px;
}
