.login {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  padding: 128px 0 80px;
  width: 100%;
  min-width: 400px;
  height: 100%;

  justify-content: center;
  background: no-repeat 50% url(./assets/login_bg.png);
  background-size: cover;

  .content {
    width: 400px;
    .body {
      min-height: 400px;
      background-color: transparent;
      
      :global(.t-tabs__nav-scroll) {
        justify-content: center;
      }
    }
  }

  .language-dropdown {
    position: absolute;
    bottom: 30px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
  }

  .iconQQ {
    width: 11px;
    height: 12px;
    background-image: url(./assets/login.svg);
    background-position: 41.42% 83.33%;
    background-size: 1636.3636363636363% 1050%;
    background-repeat: no-repeat;
    margin-right: 5px;
    display: inline-block;
  }
}

.login-box {
  text-align: center;
  height: 300px;
  margin: 16px 0px;
  padding: 20px;
}

.associate-items {
  .item {
    margin-bottom: 16px;
    padding: 16px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    transition: all 0.3s;
    &:hover,
    &.active {
      border: 1px solid #00a4ff;
      background-color: #f7f8fa;
    }
  }
}

.hidden {
  display: none;
}
