
.repo-create-container {
    padding: 30px;

    .tit {
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: 600;
    }

    .form-desc {
        display: block;
        color: #919daf;
        margin-top: 6px;
        white-space: normal;
    }

}

